<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>磐石电气_重置密码</title>
</head>
<body>
<h1>重置密码</h1>
<p id="trade-id">${traceId}</p>
<form action="/user/open/user/reset-password-by-trade-id" method="post" id="reset-password-form">
    <div>
        <label for="password-input">New Password</label>
        <input type="password" id="password-input" placeholder="New Password">
    </div>
    <div>
        <label for="reenter-password-input">Reenter Password</label>
        <input type="text" id="reenter-password-input" placeholder="Reenter password">
    </div>
    <div>
        <button>Reset Password</button>
    </div>
</form>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script>
    $(function () {
        function doResetPassword(password) {
            var tradeId = $('#trade-id').text();
            var postData = {
                tradeId: tradeId,
                password: password
            };
            $.ajax({
                url: '/user/open/user/reset-password-by-trade-id',
                method: 'post',
                contentType: 'application/json',
                data: JSON.stringify(postData),
                success: function (res) {
                    console.log(res)
                }
            });
        }

        var passwordInput = $('#password-input');
        var reenterPasswordInput = $('#reenter-password-input');
        $('#reset-password-form').submit(function (e) {
            e.preventDefault();
            var password = passwordInput.val();
            var reenterPassword = reenterPasswordInput.val()
            if (!password || !password.trim()) {
                alert('请输入新密码');
                return;
            }
            if (password !== reenterPassword) {
                alert('两次输入密码不一致');
                return;
            }
            doResetPassword(password);
        });
    });
</script>
</body>
</html>