<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monolithiot.iot.notification.mapper.EmailMapper">
    <sql id="columns">
        e.id           e_id,
        e.trace_id     e_trace_id,
        e.user_id      e_user_id,
        e.target       e_target,
        e.subject      e_subject,
        e.content_text e_content_text,
        e.intention    e_intention,
        e.create_time  e_create_time,
        e.update_time  e_update_time,
        e.deleted      e_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_email as e
        where (e.deleted = false)
    </sql>
    <resultMap id="rm_base" type="com.monolithiot.iot.notification.entity.Email">
        <id column="e_id" property="id"/>
        <result column="e_trace_id" property="traceId"/>
        <result column="e_user_id" property="userId"/>
        <result column="e_target" property="target"/>
        <result column="e_subject" property="subject"/>
        <result column="e_content_text" property="contentText"/>
        <result column="e_intention" property="intention"/>
        <result column="e_create_time" property="createTime"/>
        <result column="e_update_time" property="updateTime"/>
        <result column="e_deleted" property="deleted"/>
    </resultMap>
</mapper>