<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monolithiot.iot.notification.mapper.SmsVerificationCodeMapper">
    <sql id="columns">
        svc.id                    svc_id,
        svc.trace_no              svc_trace_no,
        svc.target                svc_target,
        svc.user_id               svc_user_id,
        svc.verification_code     svc_verification_code,
        svc.pre_verification_code svc_pre_verification_code,
        svc.extend_data           svc_extend_data,
        svc.expire_in             svc_expire_in,
        svc.state                 avc_state,
        svc.create_time           svc_create_time,
        svc.update_time           svc_update_time,
        svc.deleted               svc_deleted
    </sql>
    <sql id="select">
        select
        <include refid="columns"/>
        from t_sms_verification_code as svc
        where svc.deleted = false
    </sql>
    <resultMap id="rm_base" type="com.monolithiot.iot.notification.entity.SmsVerificationCode">
        <id column="svc_id" property="id"/>
        <result column="svc_trace_no" property="traceNo"/>
        <result column="svc_target" property="target"/>
        <result column="svc_user_id" property="userId"/>
        <result column="svc_verification_code" property="verificationCode"/>
        <result column="svc_pre_verification_code" property="preVerificationCode"/>
        <result column="svc_extend_data" property="extendData"/>
        <result column="svc_expire_in" property="expireIn"/>
        <result column="avc_state" property="state"/>
        <result column="svc_create_time" property="createTime"/>
        <result column="svc_update_time" property="updateTime"/>
        <result column="svc_deleted" property="deleted"/>
    </resultMap>
</mapper>